<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hindi Handwritten Digit Recognition</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/drawing-board/drawingboard.min.css" />
    <link rel="stylesheet" href="static/css/comman.css" />
  </head>
  <body>
    <!-- Header Code -->
    <nav class="navbar navbar-light bg-primary">
      <a class="d-flex navbar-brand" href="#">
        <h3 class="text-light px-2">Hindi Handwritten Digit Recognition</h3>
      </a>
      <div class="text-right">
        <a href="/" class="text-light">
          <button class="btn btn-light">
            Homepage
          </button>
        </a>
      </div>
    </nav>

    <!-- Body araa -->
    <div class="container py-2">
      <h4>Hindi</h4>
      <p>
        Hindi , whose standardized form is called Standard Hindi , is a major language of the world and one of the official languages ​​of India .
        English is the co- official language in India at the central level . 
        It is a standardized form of Hindustani language in which the use of similar and similar words of Sanskrit is more and Arabic-Persian words are less. 
        Hindi is constitutionally the official language of India and the most spoken and understood language of India . 
        According to Ethnologue , Hindi is the third most spoken language in the world. 
        According to the calculations of the World Economic Forum, it is one of the ten most powerful languages ​​in the world.
        Hindi and its dialects are spoken in various states across India. People in India and other countries also speak, read and write Hindi. 
        Fiji , Mauritius , Guyana , Suriname , Nepal and the United Arab Emirates also have significant numbers of people who use Hindi or its recognized dialects. 
        In February 2019 , Hindi was recognized as the third language of the court in Abu Dhabi . 
      </p>
      <hr class="my-3" />
      <h6>Hindi Numbers</h6>
      <img src="static/img/ref/numbers.jpeg" alt="" class="w-100" />

      <hr class="my-3" />

      <a href="/" class="text-light text-right d-flex justify-content-end">
        <button class="btn btn-light">
          Homepage
        </button>
      </a>
    </div>

    <!-- Footer Code -->
    <nav
      class="navbar navbar-light bg-primary sticky-bottom text-light d-flex justify-content-center"
    >
      <p class="text-light text-center">
        Dataset Link :
        <a
          class="text-light"
          href="https://archive.ics.uci.edu/ml/datasets/Devanagari+Handwritten+Character+Dataset"
          >https://archive.ics.uci.edu/ml/datasets/Devanagari+Handwritten+Character+Dataset</a
        >

        <br />
      </p>
    </nav>
  </body>
</html>
